$main-color: grey;
$accent-color: tomato;
$body-text-color: black;
$body-font-size: 16px;
* {
    box-sizing: border-box;
}


/* 
supposed to be setting up a grid based on flexbox
from here: https://css-tricks.com/dont-overthink-flexbox-grids/
*/