.chapter-title {
    position: relative;
    top: 60px;
    top: 0;
    left: 0;
}

.cover {
    width: 49%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 0 1em;
    position: relative;
    top: 0;
    left: 0;
}

.pinned-nav .cover {
    position: fixed;
    top: 40px;
}

.pinned-nav .chapter-contents {
    top: 40px;
}

.about-section {
    .cover {
        background-color: pink;
    }
    .chapter-contents {
        width: 49%;
        // border: 2px solid red;
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding: 0 1em;
        position: absolute;
        left: 50%;
        top: 0;
    }
}

.pinned-nav .cover {
    position: fixed;
    top: 40px;
}

.pinned-nav .chapter-contents {
    top: 40px;
}

// .cover {
//     width: 49%;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     // padding: 0 1em;
//     position: relative;
//     top: 0;
//     left: 0;
// }

// .pinned-nav .cover {
//     position: fixed;
//     top: 60px;
// }

// .pinned-nav .chapter-contents {
//     top: 60px;
// }
