* {
  box-sizing: border-box; }

/* 
supposed to be setting up a grid based on flexbox
from here: https://css-tricks.com/dont-overthink-flexbox-grids/
*/
.flex-grid {
  display: -ms-flexbox;
  display: flex; }

.col {
  -ms-flex: 1;
  flex: 1;
  padding: 1em; }

.mainpage.pinned-nav nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
  box-shadow: 0 0 19px black; }

nav {
  display: flex;
  flex-direction: row;
  background: grey;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 40px;
  overflow: hidden;
  width: 100%;
  z-index: 90; }
  nav ul {
    list-style: none;
    display: flex;
    width: 60%;
    justify-content: space-around;
    padding-left: 20%; }
  nav .logo-container {
    width: 70px; }
    nav .logo-container img {
      width: 100%;
      transform: rotate(21deg); }
  nav a {
    text-decoration: none;
    color: black;
    position: relative; }
    nav a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: -3px;
      left: 0;
      background-color: tomato;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    nav a:hover:before {
      visibility: visible;
      transform: scaleX(1);
      -webkit-transform: scaleX(1); }

.hero {
  height: 92vh;
  background: url(images/bao_bottles.jpg) center center;
  background-size: cover; }
  .hero .hero-container {
    position: absolute;
    top: 5em;
    left: 5em;
    color: white; }
    .hero .hero-container h1 {
      margin: 0; }
  .hero .hero-buttons-container a {
    border: none;
    border-radius: 6px;
    background-color: white;
    padding: 5px 20px;
    color: black;
    box-shadow: 0px 4px 0px grey;
    text-decoration: none; }

.content-block {
  position: relative;
  top: 60px;
  top: 0;
  left: 0;
  /* display: -ms-flexbox;*/
  /* display: flex;*/
  /* -ms-flex-direction: row;*/
  /* flex-direction: row;*/
  /* -ms-flex-pack: justify;*/
  /* justify-content: space-between;*/
  /* align-content: center;*/ }

.cover {
  width: 49%;
  /* display: -ms-flexbox;*/
  /* display: flex;*/
  /* -ms-flex-pack: center;*/
  /* justify-content: center;*/
  /* -ms-flex-align: center;*/
  /* align-items: center;*/
  /* padding: 0 1em;*/
  /* position: relative;*/
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }

.chapter-contents {
  width: 49%;
  /* border: 2px solid red;*/
  /* height: 100vh; */
  /* display: -ms-flexbox;*/
  /* display: flex;*/
  /* -ms-flex-direction: column;*/
  /* flex-direction: column;*/
  /* -ms-flex-pack: center;*/
  /* justify-content: center;*/
  /* -ms-flex-align: center;*/
  /* align-items: center;*/
  /* padding: 0 1em;*/
  position: relative;
  left: 50%;
  /* top: 0;*/ }

.pinned-nav .cover,
.pinned-nav .chapter-contents {
  top: 40px;
  /* position: relative;*/ }
.pinned-nav .cover {
  position: fixed; }

.about-section .cover {
  background-color: pink;
  /* height: 100%;*/ }

.shop-now .cover {
  background-color: grey;
  /* height: 100%;*/ }

.image-placeholder {
  background-color: #555; }

/*# sourceMappingURL=style.css.map */
